body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 1.4;
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1000px) {
    .container {
        width: 1200px;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#dpic {
    grid-column: span 6;
    text-align: right;
}

#ddesc {
    padding-top: 40px;
    padding-left: 20px;
    grid-column: span 6;
}

@media (max-width: 991px) {
    #dpic {
        grid-column: span 12;
        text-align: center;
    }

    #ddesc {
        grid-column: span 12;
        padding-top: 20px;
        text-align: center;
    }
}

h1 {
    font-size: 34px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-style: italic;
    color: gray;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0;
}

@media (min-width: 992px) {
    h2 {
        max-width: 300px;
    }
}

#dpic img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.iico {
    width: 40px;
    height: 40px;
}

.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
    margin-left: 10px;
}

.ico img {
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    margin-left: 10px;
}

.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: gray;
    border: 2px solid white;
}

.timespan {
    grid-column: span 1;
    font-size: 16px;
    text-align: right;
    padding-right: 5px;
    color: gray;
}

.hassets {
    position: relative;
}

@media (max-width: 1000px) {
    .hassets {
        display: none;
    }
}

.hasset {
    position: absolute;
    margin: 0;
    padding: 0;
}

.ctitle {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card {
    grid-column: span 3;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.cdesc {
    height: 30px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .cdesc {
        font-size: 18px;
        padding-bottom: 10px;
    }
}

.project {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.pico {
    float: left;
    margin-right: 10px;
}

.pend {
    clear: both;
}

.pico img {
    width: 200px;
    border-radius: 5px;
}

.footer {
    text-align: center;
    font-size: 14px;
    font-style: italic;
}